* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.headerbox {
  width: 1024px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.logo {
  height: 70px;
  float: left;
}

.nav-list {
  float: right;
}

.nav-list-item {
  width: 120px;
  list-style: none;
  display: inline-block;
  font-size: 16px;
  color: #FAFAFA;
  padding: 0 30px;
  line-height: 70px;
  float: left;
}

.main-visual {
  width: 100%;
  height: 650px;
  text-align: center;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-contents {
  font-size: 64px;
  color: #FAFAFA;
  margin-bottom: 10px;
  padding-top: 200px;
}

.main-visual-name {
  font-size: 20px;
  color: #FAFAFA;
}

.portfolio {
  background-color: #ECEFF1;
}

.portfolio-main {
  text-align: center;
  padding-top: 90px;
  font-size: 32px;
  color: #000;
}

.portfolio-main::after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
}

.portfolio-p {
  text-align: center;
  font-size: 16px;
  color: #000;
  padding: 30px 0;
}

.portfolio-group{
  width: 920px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.box {
  float: left;
  width: 300px;
  height: 250px;
  margin-right: 10 10 0 0;
  background-size :cover;
  background-position: center;
}

.box:nth-last-child(-n+3){
  margin-top: 0;
}

.box:nth-child(3n){
  margin-right: 0;
}

.img1 {
  background-image: url(img/sketch.jpg);
}

.img2 {
  background-image: url(img/websuku.png);
}

.img3 {
  background-image: url(img/write.jpg);
}

.img4 {
  background-image: url(img/webcamp.png);
}

.img5 {
  background-image: url(img/talk.jpg);
}

.img6 {
  background-image: url(img/webcamp-mother.png);
}

.Feature-group {
  width: 1000px;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.box2 {
  float: left;
  width: 320px;
  margin-right: 20px;
  text-align: center;
  font-size: 60px;
}

.box2:last-child {
  margin-right: 0;
}

.box2-title {
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  color:#000;
}

.box2-text {
  text-align: left;
  font-size: 16px;
  color: #000;
}

